<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <li><img src="https://cdn-icons-png.flaticon.com/128/145/145807.png"  class="media-icon"></li>
        <li><img src="https://cdn-icons-png.flaticon.com/128/2504/2504957.png" class="media-icon"></li>
        <li><img src="https://cdn-icons-png.flaticon.com/128/3955/3955024.png" class="media-icon"></li>
    </ul>

    <ul class="contact-info" style="margin-left: 40vw; margin-top: 3em;">
        <li>Mobile: +91-8102658203</li>
        <li>shubhamprasad2711@gmail.com</li>
    </ul>
</div>